@media only screen and (max-width: 768px) {
   .mid-content{
    /* display: flex; */
    flex-direction: column;
    justify-content:flex-start;
    align-items:center ;
    flex-wrap: nowrap;
   }
   .mess{
    font-size: 20px;
    color: red;
    /* margin-top:10px; */
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    align-self: center;
 margin-bottom: 0;
    display: none;
    filter: none;
   
}
.message{
    color: black;
    margin: 0;
    font-size: 20px;
    padding: 0;
    margin-top:0;
  
   gap: 5px;
   
    display: none;
    /* margin-top: 10px; */
}
.second{
}
}

.btn{
    top: 30px;
    width: 250px;
}
/* .mess{
    font-size: 15px;
    color: red;
    margin: 0px;
    padding: 0;
    display: none;
} */





