body{
    background-color: #EE4E4E;
    /* border-radius: 2rem; */
}

.main{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #EE4E4E;
    /* border:1px solid red; */
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.second{
    width: 95%;
    /* height: 88vh; */
    /* min-height:fit-content; */
    /* border: 1px solid red; */
    padding: 0;
    /* overflow: none; */
    /* margin-top: 30px ;
    margin-bottom: 30px; */
    border-radius: 2rem;
    background-color: #f5d0b7;
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
    margin-top: 10px;
    
}
.head{
    width: 100%;
    height: 5%;
    /* border: 3px solid black; */
    font-size: 30px;
    font-family:serif;
    color: #EE4E4E;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.logo{
    height:200px;

}
.content{
     width:85vw; 
    /* height: 70%;  */
    /* height:0vh; */
    /* border: 1px solid black; */
    /* margin: 10px; */
    justify-self: center;
    align-self: center;
    border-radius: 1rem;
    /* background-color:antiquewhite; */
    padding: 0;
    filter: drop-shadow(
        1px 1px 2px hsl(1, 2%, 60%));  
    border: none;
    

}
.first{
    /* border:1px solid red; */
    height: 10%;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family:cursive;
    margin-top: 5px ;
    color: #EE4E4E;
    filter: drop-shadow(
        1px 1px 2px hsl(1, 2%, 60%)); 
        margin-top: 20px;
}
.second-content{
    /* border: 1px solid black; */
    height: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
.mid-logo{
    opacity:40% ;
    z-index:2;
    position:absolute;
    height: 80%;
   z-index: -1;
    /* display: none; */
    
    
}
.tx{
    /* border:1px solid red; */
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:relative ;
    align-self:;
    top: 50px;
    color: rgb(14, 12, 12);
    font-weight: 500;
    font-family:serif;
    /* display: none; */
    z-index: 3;
   
}

input{
    /* width: 30%; */
    width: 300px;
    height: 50px;
    border: none;
    padding: 8px;
    border-radius: 2rem;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(228, 214, 214, 0.993));
        z-index:; 
        text-align: center;
}
button{
    /* position: relative; */
    /* top: 100px; */
    width: 300px;
    height:70px;
    border-radius: 2rem;
    border:none;
    z-index: 5;
    font-size: 15px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 86%);
}
button:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  }

.para{
    padding: 20px;
    text-align: center;
    font-family:cursive ;
    font-weight: 700;
}
input::placeholder{
    text-align: center;
    color: gray;
}
.mid-content{
    /* border:1px solid red; */
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 10px;
    /* align-items: center; */
}
input:focus{
   outline: none;
   border: 2px solid #EE4E4E;
   box-shadow: 0 0 10px #EE4E4E;




   
}
.identity{
    font-size: 25px;
    z-index: 5;
    font-weight: 550;
    color: rgb(26, 22, 22);
}
.mid{
    display: flex;
    justify-content:baseline;
    flex-direction: column;
    align-items: center;
}
.btn{
    width: 100%;
    
    /* border:1px solid red; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* margin-top: 30px; */
     position:relative;
  top: -30px;
}
.button:hover{
    background-color: aqua;
}
.message{
    color: black;
    margin: 0;
    font-size: 20px;
    padding: 0;
    margin-top: 10px;
  
   gap: 5px;
   
    display: none;
    /* margin-top: 10px; */
}
.mess{
    font-size: 30px;
    color: rgb(233, 5, 5);
    margin-top:10px;
    padding: 0;
    align-self: center;
 margin-bottom: 0;
    display: none;
    filter: none;

   
}

